@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
    font-family: 'Nanum Myeongjo', serif;

    .heading {
        text-align: center;
    
        text-transform: capitalize;
    
        border-bottom: 0.1rem solid #eee;
    }
    
    h1, h2, h3, h4, h5, h6 {
        padding: 1.5rem 0;
        line-height: 1rem;
    
        color: #61140A;
    }
    
    h1 {
        font-size: 3rem;
        font-weight: 650;
    }
    
    h2 {
        font-size: 2.4rem;
        font-weight: 600;
    }
    
    h3 {
        font-size: 2.1rem;
        font-weight: 450;
    }
    
    h4 {
        font-size: 1.8rem;
        font-weight: 400;
    }
    
    h5 {
        font-size: 1.5rem;
        font-weight: 350;
    }
    
    h6 {
        font-size: 1.2rem;
        font-weight: 300;
    }
}

